/* ID for COLOR PALET */
/* NAV  bg*/
#bg_nav_site
{
    background-color: #2C3E50;
}
/* HEADER bg  */
#bg_header_site
{
    background-color: #1ABC9C;
}
/* MAIN bg per sezione  */
/* bg portfolio 1 of 3 & bg contact-me 3 of 3 sez main */
#bg_portfolio_site, #bg_contact_me_site
{
    background-color: #FFF;
}
/* bg about 2 of 3 sez main */
#bg_about_site
{
    background-color: #1ABC9C;
}
/* FOOTER bg  */
#bg_footer_top_site
{ 
    background-color: #3A546D;
}
#bg_footer_down_site
{ 
    background-color: #2C3E50;
}